{{!-- ./templates/index.tsx.hbs --}}
import React from 'react';
import styles from './index.module.less'

const {{ properCase name }} = () => {
  return <div className={styles.title}>{{ properCase name }} page</div>
}
export default {{ properCase name }}